 <%= render partial: 'solidus_square/square_javascript'%>

<div id="card-container"></div>
<button id="square-card-button" type="button">Pay</button>

<div id="payment-status-container"></div>

<div
  id="square-checkout-payload"
  data-location-id="<%= payment_method.preferred_location_id %>"
  data-app-id="<%= payment_method.preferred_app_id %>"
  data-order-number="<%= @order.number %>"
  data-order-token="<%= @order.guest_token %>"
  data-order-total="<%= @order.total.to_f %>"
  data-advance-checkout-url="<%= advance_api_checkout_url(id: @order.number) %>"
  data-frontend="<%= frontend %>"
  >
</div>
